[Unit]
Description=Nomad - WORKER_NAME
After=network-online.target

[Service]
ExecStart=/usr/bin/nomad agent -server -config=/etc/nomad.hcl
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
