[Unit]
Description=Nomad - WORKER_NAME
After=network-online.target
Requires=network-online.target

[Service]
Environment="NOMAD_TOKEN="
ExecStart=/usr/bin/nomad agent -config=/etc/nomad.d/WORKER_NAME-conf.hcl
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
